01. Take a variable x and print "Positive" if x > 0, "Negative" if x < 0, and "Zero" otherwise.

In [3]:
x = -76
if (x > 0):
    print("Positive")
elif (x < 0):
    print("Negative")
else:
    print("Zero")

Negative

02. Take a variable y and print " Grade A" if y > 90, "Grade B" if 60 < y <= 90, and "Grade F" otherwise.
y = 67
if(y > 90):
    print("Grade 'A'")
elif (y > 60 and y <= 90):
    print("Grade 'B'")
else:
    print("Grade 'F'")

In [5]:
y = 67
if(y > 90):
    print("Grade 'A'")
elif (y > 60 and y <= 90):
    print("Grade 'B'")
else:
    print("Grade 'F'")

Grade 'B'

03. Take a variable age and print "child" if age < 13, "Teenager" if 13 <= age <= 19, "Adult" otherwise.

In [6]:
age = 15
if(age < 13):
    print("Child")
elif(age <= 13 or age <= 19):
    print("Teenager")
else:
    print("Adalt")

Teenager

04. Take a variable num and print "Even" if it is divisible by 2 else "Odd".

In [20]:
num = 4
if(num % 2 == 0):
    print("Even")
else: 
    print("Odd")

Even

5. Take a variable marks and print "Pass" if marks >= 40, otherwise.

In [9]:
marks = 60
if(marks >= 50):
    print("Pass")
else:
    print("Fail")

Pass

6. Take a variable temp and print "Cold" if temp < 20, "Warm" if 20 <= temp <= 35, and "Hot" if temp > 35.

In [30]:
temp = 37
if(temp < 20):
    print("Cold")
elif(temp <= 20 or temp <= 35):
    print("Warm")
elif(temp > 35):
    print("Hot")

Hot

7. Take a variable speed and print "Over Speed" if speed > 120, "Normal Speed" if 60 <= speed <= 120 and "Slow Speed" if speed < 60.

In [37]:
speed = 54
if(speed > 120):
    print("Over Speed")
elif(speed >= 60 and speed <= 120):
    print("Normal Speed")
elif(speed < 60): 
    print("Slow Speed")

Slow Speed

8. Take a variable year and print "Leap Year" if divisible by 4 but not 100, or divisible by 400. otherwise print "Not Leap Year".

In [41]:
year = 2023
if(year % 4 == 0 or year % 400 == 0 and year % 100 != 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

9. Take a variable salary and print "High Income" if salary > 100000, "Medium Income" if 50000 >= salary <= 100000, and "Low Income" otherwise.

In [11]:
salary = 100000
if(salary > 100000):
    print("High Income")
elif(salary >= 50000 and salary <= 100000):
    print("Medium Income")
else:
    print("Low Income")

Medium Income

10. Take a variable num and print " Multiple of 3" if divisible by 3, "Multiple  of 5" if divisible by 5, "Multiple of Both" if divisible by 3 and 5 otherwise "Not a Multiple of 3 or 5"

In [12]:
num = 5
if(num % 3 == 0):
    print("Multiple of 3")
elif(num % 5 == 0):
    print("Multiple of 5")
else:
    print("Not a multiple of 3 and  5")

Multiple of 5